*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:linear-gradient(to right,#ffdde1,#ee9ca7);
    color: blue (255, 255, 255);
    min-height:100vh;
    padding:20px;
}

/* Navigation */
nav{
    text-align:center;
    margin-bottom:30px;
}

nav a{
    text-decoration:none;
    color:rgb(0, 161, 40);
    border:2px solid rgb(255, 255, 255);
    padding:10px 18px;
    margin:0 8px;
    border-radius:25px;
    transition:0.3s;
    font-weight:bold;
}

nav a:hover{
    background:rgb(122, 29, 29);
    color:#ee9ca7;
}

/* Headings */
h1,h2,h3{
    text-align:center;
    margin:20px 0;
}

/* Lists */
ol{
    width:60%;
    margin:20px auto;
    background:rgba(255,255,255,0.15);
    padding:25px;
    border-radius:20px;
    line-height:2;
    backdrop-filter:blur(10px);
}

/* HEART PARAGRAPH */
.heart-text{
    width:320px;
    height:290px;
    background:#ff4d6d;
    margin:50px auto;
    position:relative;
    transform:rotate(-45deg);

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px;
    text-align:center;
    line-height:1.5;
    font-size:14px;
    color:white;
}

/* top circles of heart */
.heart-text::before,
.heart-text::after{
    content:"";
    width:320px;
    height:290px;
    background:#ff4d6d;
    border-radius:50%;
    position:absolute;
}

.heart-text::before{
    top:-150px;
    left:0;
}

.heart-text::after{
    left:150px;
    top:0;
}

/* make text normal */
.heart-text p,
.heart-text{
    transform:rotate(45deg);
    z-index:1;
}